@keyframes shine {
  0% { left: -100%; }
  100% { left: 100%; }
}

@keyframes border-shine {
  0% { background-position: 0% 0; }
  100% { background-position: 200% 0; }
}

.animate-shine {
  animation: shine 2s infinite;
}

.animate-border-shine {
  animation: border-shine 3s infinite linear;
}