@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-mont: "Montserrat", sans-serif;
}

.font-mont {
    font-family: "Montserrat", sans-serif;
}

